Data Preparation

In [10]:
import pandas as pd  
import datetime as dt
from lifetimes import BetaGeoFitter
from lifetimes import GammaGammaFitter
from sklearn.preprocessing import MinMaxScaler
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)
pd.set_option("display.float_format",lambda x:"%.2f" %x)
pd.options.mode.chained_assignment = None

In [11]:
df_= pd.read_csv(r"c:\Users\mseny\OneDrive\Masaüstü\MİUUL-projects\data science path\CRM\case study 2\flo_data_20k.csv")
df = df_.copy()
df.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.00,1.00,139.99,799.38,[KADIN]
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.00,2.00,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]"
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.00,2.00,189.97,395.35,"[ERKEK, KADIN]"
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.00,1.00,39.99,81.98,"[AKTIFCOCUK, COCUK]"
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.00,1.00,49.99,159.99,[AKTIFSPOR]

In [12]:
def outlier_thresholds(dataframe, variable):
    quartile1 = dataframe[variable].quantile(0.01)
    quartile3 = dataframe[variable].quantile(0.99)
    interquantile_range = quartile3 - quartile1
    up_limit = quartile3 + 1.5 * interquantile_range
    low_limit = quartile1 - 1.5 * interquantile_range
    return low_limit, up_limit

def replace_with_thresholds(dataframe, variable):
    low_limit, up_limit = outlier_thresholds(dataframe, variable)
    dataframe.loc[(dataframe[variable] < low_limit), variable] = round(low_limit,0)
    dataframe.loc[(dataframe[variable] > up_limit), variable] = round(up_limit,0)

In [13]:
columns = ["order_num_total_ever_online", "order_num_total_ever_offline", "customer_value_total_ever_offline","customer_value_total_ever_online"]
for col in columns:
    replace_with_thresholds(df, col)

In [14]:
df["order_num_total"] = df["order_num_total_ever_online"] + df["order_num_total_ever_offline"]
df["customer_value_total"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]

In [15]:
date_columns = df.columns[df.columns.str.contains("date")]
df[date_columns] = df[date_columns].apply(pd.to_datetime)

Creating the CLTV Data Structure

In [16]:
df["last_order_date"].max()

Timestamp('2021-05-30 00:00:00')

In [17]:
analysis_date = dt.datetime(2021,6,1)

In [18]:
cltv_df = pd.DataFrame()
cltv_df["customer_id"] = df["master_id"]
cltv_df["recency_cltv_weekly"] = ((df["last_order_date"]-df["first_order_date"]).dt.days)/7
cltv_df["weekly_T"] = ((analysis_date - df["first_order_date"]).dt.days)/7
cltv_df["frequency"] = df["order_num_total"]
cltv_df["monetary_cltv_avg"] = df["customer_value_total"] / df["order_num_total"]

cltv_df.head()

,customer_id,recency_cltv_weekly,weekly_T,frequency,monetary_cltv_avg
0,cc294636-19f0-11eb-8d74-000d3a38a36f,17.00,30.57,5.00,187.87
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,209.86,224.86,21.00,95.88
2,69b69676-1a40-11ea-941b-000d3a38a36f,52.29,78.86,5.00,117.06
3,1854e56c-491f-11eb-806e-000d3a38a36f,1.57,20.86,2.00,60.98
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,83.14,95.43,2.00,104.99

BG/NBD, Establishing Gamma-Gamma Models, Calculating 6-month CLTV

In [23]:
bgf=BetaGeoFitter(penalizer_coef=0.01)
bgf.fit(cltv_df["frequency"],cltv_df["recency_cltv_weekly"],cltv_df["weekly_T"])

C:\Users\mseny\AppData\Roaming\Python\Python312\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [24]:
cltv_df["exp_sales_3_month"]=bgf.predict(4*3,cltv_df["frequency"],cltv_df["recency_cltv_weekly"],cltv_df["weekly_T"])

In [25]:
cltv_df["exp_sales_6_month"]=bgf.predict(4*6,cltv_df["frequency"],cltv_df["recency_cltv_weekly"],cltv_df["weekly_T"])

In [26]:
cltv_df.sort_values("exp_sales_3_month",ascending=False)[:10]

,customer_id,recency_cltv_weekly,weekly_T,frequency,monetary_cltv_avg,exp_sales_3_month,exp_sales_6_month
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,62.71,67.29,52.00,166.22,5.62,11.24
15611,4a7e875e-e6ce-11ea-8f44-000d3a38a36f,39.71,40.00,29.00,165.30,4.24,8.48
8328,1902bf80-0035-11eb-8341-000d3a38a36f,28.86,33.29,25.00,97.44,4.00,8.00
6666,53fe00d4-7b7a-11eb-960b-000d3a38a36f,9.71,13.00,17.00,259.87,3.76,7.52
19538,55d54d9e-8ac7-11ea-8ec0-000d3a38a36f,52.57,58.71,31.00,228.53,3.72,7.45
14373,f00ad516-c4f4-11ea-98f7-000d3a38a36f,38.00,46.43,27.00,141.35,3.70,7.40
10489,7af5cd16-b100-11e9-9757-000d3a38a36f,103.14,111.86,43.00,157.11,3.39,6.78
6756,27310582-6362-11ea-a6dc-000d3a38a36f,62.71,64.14,29.00,168.88,3.33,6.67
4315,d5ef8058-a5c6-11e9-a2fc-000d3a38a36f,133.14,147.14,49.00,161.85,3.15,6.29
10536,e143b6fa-d6f8-11e9-93bc-000d3a38a36f,104.57,113.43,40.00,176.20,3.13,6.27

In [27]:
cltv_df.sort_values("exp_sales_6_month",ascending=False)[:10]

,customer_id,recency_cltv_weekly,weekly_T,frequency,monetary_cltv_avg,exp_sales_3_month,exp_sales_6_month
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,62.71,67.29,52.00,166.22,5.62,11.24
15611,4a7e875e-e6ce-11ea-8f44-000d3a38a36f,39.71,40.00,29.00,165.30,4.24,8.48
8328,1902bf80-0035-11eb-8341-000d3a38a36f,28.86,33.29,25.00,97.44,4.00,8.00
6666,53fe00d4-7b7a-11eb-960b-000d3a38a36f,9.71,13.00,17.00,259.87,3.76,7.52
19538,55d54d9e-8ac7-11ea-8ec0-000d3a38a36f,52.57,58.71,31.00,228.53,3.72,7.45
14373,f00ad516-c4f4-11ea-98f7-000d3a38a36f,38.00,46.43,27.00,141.35,3.70,7.40
10489,7af5cd16-b100-11e9-9757-000d3a38a36f,103.14,111.86,43.00,157.11,3.39,6.78
6756,27310582-6362-11ea-a6dc-000d3a38a36f,62.71,64.14,29.00,168.88,3.33,6.67
4315,d5ef8058-a5c6-11e9-a2fc-000d3a38a36f,133.14,147.14,49.00,161.85,3.15,6.29
10536,e143b6fa-d6f8-11e9-93bc-000d3a38a36f,104.57,113.43,40.00,176.20,3.13,6.27

In [30]:
ggf=GammaGammaFitter(penalizer_coef=0.001)
ggf.fit(cltv_df["frequency"],cltv_df["monetary_cltv_avg"])
cltv_df["exp_average_val"]=ggf.conditional_expected_average_profit(cltv_df["frequency"],cltv_df["monetary_cltv_avg"])
cltv_df.head()

,customer_id,recency_cltv_weekly,weekly_T,frequency,monetary_cltv_avg,exp_sales_3_month,exp_sales_6_month,exp_average_val
0,cc294636-19f0-11eb-8d74-000d3a38a36f,17.00,30.57,5.00,187.87,1.12,2.23,188.47
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,209.86,224.86,21.00,95.88,1.03,2.05,96.26
2,69b69676-1a40-11ea-941b-000d3a38a36f,52.29,78.86,5.00,117.06,0.69,1.39,118.40
3,1854e56c-491f-11eb-806e-000d3a38a36f,1.57,20.86,2.00,60.98,0.76,1.51,65.72
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,83.14,95.43,2.00,104.99,0.37,0.73,108.59

In [33]:
cltv=ggf.customer_lifetime_value(bgf,cltv_df['frequency'],
                                   cltv_df['recency_cltv_weekly'],
                                   cltv_df['weekly_T'],
                                   cltv_df['monetary_cltv_avg'],
                                   time=6,
                                   freq="W",
                                   discount_rate=0.01)
cltv_df["cltv"] = cltv

In [34]:
cltv_df.sort_values("cltv",ascending=False)[:20]

,customer_id,recency_cltv_weekly,weekly_T,frequency,monetary_cltv_avg,exp_sales_3_month,exp_sales_6_month,exp_average_val,cltv
13880,7137a5c0-7aad-11ea-8f20-000d3a38a36f,6.14,13.14,11.00,758.09,2.59,5.18,755.63,4109.59
9055,47a642fe-975b-11eb-8c2a-000d3a38a36f,2.86,7.86,4.00,1401.80,1.35,2.71,1386.69,3935.81
6666,53fe00d4-7b7a-11eb-960b-000d3a38a36f,9.71,13.00,17.00,259.87,3.76,7.52,259.82,2050.76
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,62.71,67.29,52.00,166.22,5.62,11.24,166.30,1961.01
8868,9ce6e520-89b0-11ea-a6e7-000d3a38a36f,3.43,34.43,8.00,601.23,1.50,2.99,598.88,1881.75
12438,625f40a2-5bd2-11ea-98b0-000d3a38a36f,74.29,74.57,16.00,501.87,1.79,3.58,501.03,1879.96
19538,55d54d9e-8ac7-11ea-8ec0-000d3a38a36f,52.57,58.71,31.00,228.53,3.72,7.45,228.56,1786.42
17323,f59053e2-a503-11e9-a2fc-000d3a38a36f,51.71,101.00,7.00,1106.47,0.75,1.50,1100.00,1736.26
10876,ae149d98-9b6a-11eb-9c47-000d3a38a36f,6.14,7.14,9.00,317.48,2.44,4.88,317.06,1624.02
6402,851de3b4-8f0c-11eb-8cb8-000d3a38a36f,8.29,9.43,2.00,862.69,0.90,1.81,846.75,1607.12
7312,90befc98-925a-11eb-b584-000d3a38a36f,4.14,8.86,6.00,431.33,1.74,3.49,429.70,1573.33
6717,40b4f318-9dfb-11eb-9c47-000d3a38a36f,27.14,33.86,7.00,544.70,1.36,2.73,542.45,1551.09
14858,031b2954-6d28-11eb-99c4-000d3a38a36f,14.86,15.57,3.00,743.59,1.00,2.01,734.94,1549.10
4157,7eed6468-4540-11ea-acaf-000d3a38a36f,89.14,90.00,27.00,289.76,2.54,5.08,289.68,1543.95
18997,41231c72-566a-11eb-9e65-000d3a38a36f,2.57,4.57,7.00,344.01,2.11,4.22,343.27,1519.39
4735,dbabb58e-6312-11ea-a6dc-000d3a38a36f,61.29,64.29,13.00,442.12,1.63,3.26,441.31,1511.81
15611,4a7e875e-e6ce-11ea-8f44-000d3a38a36f,39.71,40.00,29.00,165.30,4.24,8.48,165.44,1471.64
17963,8fd88976-6708-11ea-9d38-000d3a38a36f,50.29,63.29,7.00,694.20,1.01,2.01,690.82,1457.07
11694,90f1b7f2-bbad-11ea-a0c9-000d3a38a36f,47.29,48.00,6.00,647.34,1.04,2.08,643.82,1404.84
7171,77e66e92-31fa-11eb-860c-000d3a38a36f,16.86,26.29,5.00,566.76,1.18,2.36,563.38,1395.73

Creating Segments Based on CLTV

In [36]:
cltv_df["segment"]=pd.qcut(cltv_df["cltv"],4,["D","C","B","A"])
cltv_df.head(10)

,customer_id,recency_cltv_weekly,weekly_T,frequency,monetary_cltv_avg,exp_sales_3_month,exp_sales_6_month,exp_average_val,cltv,segment
0,cc294636-19f0-11eb-8d74-000d3a38a36f,17.00,30.57,5.00,187.87,1.12,2.23,188.47,441.73,A
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,209.86,224.86,21.00,95.88,1.03,2.05,96.26,207.16,B
2,69b69676-1a40-11ea-941b-000d3a38a36f,52.29,78.86,5.00,117.06,0.69,1.39,118.40,172.60,B
3,1854e56c-491f-11eb-806e-000d3a38a36f,1.57,20.86,2.00,60.98,0.76,1.51,65.72,104.30,D
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,83.14,95.43,2.00,104.99,0.37,0.73,108.59,83.27,D
5,e585280e-aae1-11e9-a2fc-000d3a38a36f,120.86,132.29,3.00,66.95,0.36,0.71,70.04,52.52,D
6,c445e4ee-6242-11ea-9d1a-000d3a38a36f,32.57,64.86,4.00,93.98,0.67,1.35,95.95,135.85,C
7,3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f,12.71,54.57,2.00,81.81,0.51,1.02,86.02,92.01,D
8,cfbda69e-5b4f-11ea-aca7-000d3a38a36f,58.43,70.71,5.00,210.94,0.74,1.48,211.29,328.99,A
9,1143f032-440d-11ea-8b43-000d3a38a36f,61.71,96.00,2.00,82.98,0.36,0.73,87.15,66.57,D